fieldset.one
{
	color:cornflowerblue;
	border-color: black;
	margin-top: 20px;
	margin-right: 50%;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	font-weight: bold;
	clear:both; 
	text-align:right;
	line-height:px;
	background-color: rgb(215, 234, 250);
}
fieldset.two
{
	color: rgb(35, 33, 142);
	border-color: cyan;
	margin-top: 20px;
	margin-right: 50%;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	font-weight: normal;
	clear:both; 
	line-height:25px;
	background-color: rgb(215, 234, 250);
}
label 
{
	float:left;
	padding-right:20px;
	font-size: 20px;

}

legend
{
	text-align: right;
	color: blue;
	font-weight: bold;
	font-size: 20px;
}

input.radio
{
	font-weight: normal;
}

